.footerConatiner{
    height: 720px;
     width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
        
}

.footerConatiner img{
   height: 100%;
  width: 100%;
   object-fit: contain;
}